<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Lavishly+Yours&family=Rubik+Iso&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <marquee>
        <h2 style="color: #19e5db;">YOUR PAPER HERE {{owner}}</h2>
    </marquee>
    <div class="container">
        <form action="/insertqp1" method="post"
        style="border: .2px solid white;border-radius: 20px;padding: 20px;z-index: 1;box-shadow: 20px 20px 10px gray; ">
        <div class="form-group">
            <!-- <label>Enter your collage name here</label> <br/> -->
            <textarea rows="1" cols="100" name="col" placeholder="Enter collage name"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your paper here</label> <br/> -->
            <textarea rows="1" cols="100" name="exam" placeholder="Type of examination"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your paper here</label> <br/> -->
            <textarea rows="4" cols="100" name="any" placeholder="Optional for you"></textarea>
        </div>
        <div class="forms">
            <label>Subjectname:</label>
            <br>
            <textarea rows="1" cols="50" name="sub" placeholder="Subject Name"></textarea>
        </div>
        <div class="forms">
            <label>Time:</label>
            <br>
            <textarea rows="1" cols="50" name="tim" placeholder="Time"></textarea>
        </div>
        <div class="form">
            <label>Date :</label>
            <br>
            <input type="date" name="dat">
        </div>
        <div class="form">
            <label>Marks :</label>
            <br>
            <input type="number" name="marks" step="10" placeholder="Marks">
        </div>
        <div class="form">
            <!-- <label>Marks :</label> -->
            <br>
            <input type="text" name="section" step="10" placeholder="Section name">
        </div>
        <div class="form-group">
            <label>Prepare your questions</label> <br />
            <textarea rows="2" cols="100" name="pap" placeholder="First question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="second question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="third question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="fourth question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="fifth question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="optional question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="optional question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="optional question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="optional question"></textarea>
        </div>
        <div class="form">
            <!-- <label>Marks :</label> -->
            <br>
            <input type="text" name="section" step="10" placeholder="Section name">
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="first question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="second question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="third question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="fourth question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="fifth question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="sixth question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="seventh question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="eight question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="ninth question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="tenth question"></textarea>
        </div>
        <div class="form">
            <!-- <label>Marks :</label> -->
            <br>
            <input type="text" name="section" step="10" placeholder=" additional Section name">
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="first question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="second question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="thrid question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="fourth question"></textarea>
        </div>
        <div class="form-group">
            <!-- <label>Prepare your questions</label> <br /> -->
            <textarea rows="2" cols="100" name="pap" placeholder="fifth question"></textarea>
        </div>
    </div>

        <div class="col-sm-4"></div>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>